*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Georgia", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #01996d;
  padding: 0.75rem 3.125rem;
  color: #fff;
  border-radius: 4px;
}

.header {
  padding: 1rem 0;
  font-size: 1rem;
}
.header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container nav .menu {
  display: flex;
  align-items: center;
}
.header .container nav .menu-item {
  padding: 0 2rem;
}
.header .container nav .menu-item:hover {
  color: #01996d;
}
.header .container nav .menu .close-button {
  display: none;
}
.header .container nav .right-side {
  display: flex;
  align-items: center;
}
.header .container nav .right-side .sign-in {
  margin-right: 2rem;
  cursor: pointer;
}
.header .container nav .right-side .sign-in:hover {
  color: #01996d;
}
.header .container .hamburger {
  display: none;
}

.hero {
  background: url("/assets/images/hero-image.jpg") no-repeat;
  background-size: cover;
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
}
.hero .container {
  width: 100%;
}
.hero .container .hero-content {
  width: 33%;
}
.hero .container .hero-content .hero-title {
  font-size: 4rem;
  color: #01996d;
}
.hero .container .hero-content .hero-description {
  font-size: 1rem;
  margin: 1.875rem 0;
  color: #484848;
  line-height: 24px;
}

.how-it-works .top-side {
  margin-top: 8rem;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
}
.how-it-works .top-side .left-side {
  width: -webkit-fill-available;
  margin-right: 80px;
  margin-bottom: 80px;
}
.how-it-works .top-side .left-side span {
  font-size: 0.875rem;
}
.how-it-works .top-side .title {
  color: #01996d;
  font-size: 2.5rem;
  line-height: 3.75rem;
}
.how-it-works .bottom-side {
  display: flex;
  justify-content: center;
}
.how-it-works .bottom-side .content {
  width: 33%;
}
.how-it-works .bottom-side .content .content-title {
  position: relative;
  margin-bottom: 30px;
}
.how-it-works .bottom-side .content .content-title .number {
  position: absolute;
  left: 0px;
  bottom: -10px;
  z-index: -1;
  font-size: 70px;
  color: rgba(1, 153, 109, 0.2);
}
.how-it-works .bottom-side .content .content-title .third {
  bottom: -25px;
}
.how-it-works .bottom-side .content .content-title .name {
  margin-left: 40px;
}
.how-it-works .bottom-side .content .content-title .alivio {
  margin-left: 50px;
}
.how-it-works .bottom-side .content img {
  width: 300px;
  height: 400px;
  margin-top: 60px;
}
.how-it-works .bottom-side .center {
  margin: 200px 90px 0 90px;
}

.lets {
  background-color: #245852;
  margin-top: 50px;
}
.lets .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.lets .container .left-side {
  color: #fff;
}
.lets .container .left-side .title {
  line-height: 50px;
  font-size: 40px;
  margin-bottom: 30px;
}
.lets .container .left-side .description {
  margin-bottom: 50px;
}
.lets .container .right-side img {
  height: 300px;
  width: 500px;
  border-radius: 10px;
  opacity: 90%;
}

.our-product {
  padding: 180px;
}
.our-product .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-product .container .left-side .image {
  position: relative;
}
.our-product .container .left-side .image .person-img {
  width: 500px;
  height: 450px;
  z-index: -1;
}
.our-product .container .left-side .image .card-img {
  width: 290px;
  position: absolute;
  top: 250px;
  left: -130px;
}
.our-product .container .right-side {
  margin-left: 80px;
}
.our-product .container .right-side span {
  font-size: 25px;
}
.our-product .container .right-side .title {
  font-size: 50px;
  color: #01996d;
  line-height: 78px;
}
.our-product .container .right-side .description {
  line-height: 30px;
  margin-bottom: 40px;
}

.footer {
  background-color: #245852;
  color: #fff;
  height: 450px;
}
.footer .container {
  display: flex;
  justify-content: start;
  padding-top: 90px;
  padding-left: 200px;
}
.footer .container .item {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  .container {
    padding: 0 20px;
  }

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container nav .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 56px;
    left: 0;
    background-color: #fff;
    padding: 20px 0;
  }
  .header .container nav .menu .menu-item {
    padding: 10px 0;
  }
  .header .container nav .menu .close-button {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  .header .container nav .right-side {
    display: none;
  }
  .header .container .hamburger {
    display: block;
  }

  .hero {
    text-align: center;
  }
  .hero .container .hero-content {
    width: 100%;
  }

  .how-it-works .container .top-side {
    flex-wrap: wrap;
    text-align: center;
  }
  .how-it-works .container .top-side .left-side {
    margin-right: unset;
    margin-bottom: 60px;
  }
  .how-it-works .container .bottom-side {
    flex-wrap: wrap;
  }
  .how-it-works .container .bottom-side .content {
    width: 100%;
    margin: 80px 0;
  }
  .how-it-works .container .bottom-side .content .description {
    text-align: center;
  }
  .how-it-works .container .bottom-side .content .picture {
    text-align: center;
  }
  .how-it-works .container .bottom-side .center {
    margin: unset;
  }

  .lets .container {
    flex-wrap: wrap;
    padding: 50px 30px;
    text-align: center;
  }
  .lets .container .left-side {
    margin-bottom: 50px;
  }

  .our-product {
    padding: unset;
  }
  .our-product .container {
    flex-wrap: wrap;
    padding: 20px 0;
  }
  .our-product .container .left-side {
    margin-top: 80px;
  }
  .our-product .container .left-side .image .person-img {
    width: 300px;
    height: auto;
  }
  .our-product .container .left-side .image .card-img {
    top: 211px;
    left: -30px;
    width: 150px;
  }
  .our-product .container .right-side {
    margin: 90px 30px;
    text-align: center;
  }
  .our-product .container .right-side span {
    font-size: 15px;
  }
  .our-product .container .right-side .title {
    line-height: unset;
    font-size: 40px;
    margin-bottom: 40px;
  }

  .footer {
    height: 350px;
  }
  .footer .container {
    padding-left: 30px;
  }
  .footer .container .item {
    font-size: 15px;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
