.header {
    padding: 1rem 0;
    font-size: 1rem;
    .container {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu {
                display: flex;
                align-items: center;
                &-item {
                    padding: 0 2rem;
                    &:hover {
                        color: $color-primary;
                    }
                }
                .close-button {
                    display: none;
                }
            }
            .right-side {
                display: flex;
                align-items: center;
                .sign-in {
                    margin-right: 2rem;
                    cursor: pointer;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
        .hamburger {
            display: none;
        }
    }
}