.our-product {
    padding: 180px;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        .left-side {
            .image {
                position: relative;
                .person-img {
                    width: 500px;
                    height: 450px;
                    z-index: -1;
                }
                .card-img {
                    width: 290px;
                    position: absolute;
                    top: 250px;
                    left: -130px;
                }
            }
        }
        .right-side {
            margin-left: 80px;
            span {
                font-size: 25px;
            }
            .title {
                font-size: 50px;
                color: $color-primary;
                line-height: 78px;
            }
            .description {
                line-height: 30px;
                margin-bottom: 40px;
            }
        }
    }
}